<div class="cards">
    <div class="card">
        <h3>Ventas Hoy</h3>
        <h2>S/ 0.00</h2>
    </div>
    <div class="card">
        <h3>Clientes</h3>
        <h2>0</h2>
    </div>
    <div class="card">
        <h3>Productos</h3>
        <h2>0</h2>
    </div>
    <div class="card">
        <h3>Reservas</h3>
        <h2>0</h2>
    </div>
</div>

<section class="powerbi-wrapper">
    <iframe title="Power.CaipiHouse" 
    width="600" height="373.5" 
    src="https://app.powerbi.com/view?r=eyJrIjoiMDk4NjhmZDEtMDlmZi00ZGYxLWFlN2MtZWFiYjI3MTM4Y2U1IiwidCI6IjEzODQxZDVmLTk2OGQtNDYyNC1hN2RhLWQ2OGE2MDA2YTg0YSIsImMiOjR9" 
    frameborder="0" 
    allowFullScreen="true">
    </iframe>
</section>